/* blog-section */
#blog {
    background-image: url(../images/alexander-popov-2z0dC1QoP3c-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#blog .section-heading {
    text-align: left;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 582px;
    margin-left: -100vh;
    padding-left: 100vh;
    overflow: hidden;
}
#blog .section-heading .line-dec {
    width: 270px;
    height: 1px;
    background-color: rgba(250, 250, 250, 0.5);
    margin: 20px 0 15px 0;
}